
body {background-color: #888;}
h1,h3,p,a {font-family: helvetica,arial,Sans;}

#wrap {
	width: 700px; margin: 40px auto; padding: 40px;
	-moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px;
	background-color:#fff;
	position: relative;
}

h1 {border-bottom: 1px dotted #ccc;}
img.mr_clippy {position: absolute; top: 30px; right: 30px;}

#textzone {display:none; border: 1px solid #ccc; padding: 20px; margin: 10px 0; }
#textzone code {	
	margin: 0 0 5px 0; width: 620px;
	color: #0f0;
	background-color:#030;
	border: 0; padding: 20px;
	white-space: nowrap; x-overflow: auto;
	white-space: pre;
	display: block;
}
#textzone p {font-size: 10pt; color: #666;}

pre {font-family: courier;margin: 10px 0 10px 0;padding: 0;}

#sharebox { float: right; }

.clear {clear:both}